<p><%= t("user_mailer.reset_password.requested_to_change_password") %></p>

<p>
  <%= link_to t("user_mailer.reset_password.change_password"), edit_password_url(@password_reset_token, suffix: @suffix) %>
</p>

<p>
  <%= t("user_mailer.reset_password.link") %>:<br>
  <%= edit_password_url(@password_reset_token, suffix: @suffix) %>
</p>

<p><%= t("user_mailer.reset_password.you_dont_want_to_change") %></p>
