<!DOCTYPE html>
<html data-bs-theme="light" lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">
    <%= include_gon %>

    <script>
      window.addEventListener("vite:preloadError", (event) => {
        window.location.reload();
      });
    </script>

    <% if Rails.env.production? %>

      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
          m[i].l=1*new Date();
          for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
          k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(54648685, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });

        ym(54648685, 'getClientID', function(clientID) {
          window.ymClientId = clientID
        });

        // TODO: add auth/guest https://yandex.ru/support/metrica/ru/data/visit-params-example
      </script>
      <!-- /Yandex.Metrika counter -->

      <!-- Google Tag Manager -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
        (window, document, 'script', 'dataLayer', 'GTM-WVMW3V8');
      </script>
      <!-- End Google Tag Manager -->
    <% end %>

    <%#= display_meta_tags reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%#= vite_typescript_tag "analytics.ts" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= inertia_ssr_head %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag "inertia.tsx" %>
    <%= vite_stylesheet_tag "application.scss" %>
  </head>

  <body>
    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GVCBLE773"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5GVCBLE773');
      </script>
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVMW3V8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>

      <!-- Yandex.Metrika counter -->
      <noscript>
        <div>
          <img
            src="https://mc.yandex.ru/watch/54648685"
            style="position:absolute; left:-9999px;"
            alt=""
          />
        </div>
      </noscript>
      <!-- /Yandex.Metrika counter -->
    <% end %>

    <%= yield %>
  </body>
</html>
