<!DOCTYPE html>
<html class="x-h-md-100" data-bs-theme="light" lang="<%= I18n.locale %>">
  <head>
    <%= include_gon %>
    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})
        (window, document, 'script', 'dataLayer', 'GTM-WVMW3V8');
      </script>
      <!-- End Google Tag Manager -->
    <% end %>

    <script>
      window.addEventListener("vite:preloadError", (event) => {
        console.log('vite:preloadError')
        window.location.reload(); // for example, refresh the page
      });
    </script>

    <%#= display_meta_tags reverse: true %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%#= vite_typescript_tag "analytics.ts" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= inertia_ssr_head %>

    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_typescript_tag "inertia.tsx" %>
    <%= vite_stylesheet_tag "application.scss" %>
  </head>

  <body class="x-h-md-100">
    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WVMW3V8" height="0" width="0" style="display:none;visibility:hidden"></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-5GVCBLE773"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5GVCBLE773');
      </script>
      <!-- Yandex.Metrika counter -->
      <noscript>
        <div>
          <img
            src="https://mc.yandex.ru/watch/54648685"
            style="position:absolute; left:-9999px;"
            alt=""
          />
        </div>
      </noscript>
      <!-- /Yandex.Metrika counter -->
    <% end %>

    <%= yield %>
    <%#<div id="portal-root"></div> %>
  </body>
</html>
